@font-face {
    font-Family: 'Abril Fatface';
    font-Size: 48px;
    src: url(../fonts/AbrilFatface-Regular.ttf);
}

@font-face {
    font-Family: 'Poppins';
    font-Size: 14px;
    src: url(../fonts/Poppins-Light.ttf);
}

body {
    background-color: #B5EAD7;
}

h1, h2, h3, h4, h5, h6 {
    Font-Family: 'Abril Fatface';
}

p {
    font-Family: 'Poppins';
}

.container {
    width: 100vw;
    height: 100vh;
}

.row {
    text-align: center;
}

.col-8 {
    border-radius: 20px;
    background-color: white;
}

#new-task-input {
    font-family: 'Poppins';
    width: 70%;
    border: 2px #ffbe88 solid;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.text {
    font-family: 'Poppins';
    border: 2px #ffbe88 solid;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 80%;
}

input:active {
    outline-color: #ffbe88;
}

input:focus {
    outline-color: #ffbe88;
    outline-width: 2px;
    outline-style: none;
}

.add {
    font-family: 'Poppins';
    width: 20%;
    border: none;
    background-color: #ffbe88;
    border: 2px #ffbe88 solid;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

#tasks .task {
    width: 92%;
    padding: 3px;
    margin: 0 auto;

}

input.text {
    width: 100%;
}

.task {
    display: flex;
}

.task .content {
	flex: 1 1 0%;
}

.task .content .text {
	font-size: 1.125rem;
}

.task .actions button {
    font-family: 'Poppins';
	cursor: pointer;
	font-size: 1.125rem;
}

.task .actions .delete {
	color: crimson;
}

.edit {
    font-family: 'Poppins';
    border: none;
    background-color: #ffbe88;
    border: 2px #ffbe88 solid;
}

.delete {
    font-family: 'Poppins';
    border: none;
    background-color: #ffbe88;
    border: 2px #ffbe88 solid;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;

}

.second_col {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

